*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://i.pinimg.com/originals/0e/3f/b6/0e3fb6d0ad3f72c8b5f420a8e8bf7eb3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: initial;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    

}

#Calculadora{
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 20vw;
    border: 2px solid rgb(86, 86, 88);
    background-color: rgb(53, 53, 53);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-image: url(https://wallpapercat.com/w/full/e/8/b/472124-1536x2732-iphone-hd-christian-bale-batman-background-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: initial;
   
    
}

.botao{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    margin: 3px;
  
    
}

.visual  {
    display: flex;
    justify-content: center;
    margin: 100px;
    flex-direction: row;
    height: 20px ;


}
h1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: rgba(255, 201, 25, 0.842);
}

.oi{
    width: 100px;
    height: 100px;
    display: flex ;
    justify-content: center;

}

button{
    width: 40px;
    height: 40px;
    background-color: rgb(255, 201, 25);
    font-weight: 800;
    color: black;;
    border-radius: 10px;
   
}

button:active{
    transform: scale(0.9);
}

input{
    text-align: end;
    width: 15vw;
    height: 50px; 
    background-color: rgba(255, 201, 25, 0.842);
    font-weight: 800;
    color: rgb(0, 0, 0);
}

button:hover{    
    background: rgb(255, 255, 255);
    color:rgb(0, 0, 0)
  }

button:active{ 
    transition: scale(2.1)
}


